@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root{
    --shadow-color: #5C5696;
}

body {
    background: linear-gradient(95deg, #C7C5F4, #6da2dd);
}

.content {
    margin: 0 auto;
    width: 50%;
}

.form {
    margin-top: 20px;
}

.card {
    margin-top: 50px;
    background: linear-gradient(90deg, #D7E1EC, #FFFFFF);
    box-shadow: 0px 0px 24px var(--shadow-color);
    border-radius: 1rem !important;
}

.prx-hover{
    position: absolute;
    width: 140px;
    min-height: 100px;
    top: 35px;
	z-index: 10;
}

.prx-hover:hover ~ .bird{
	transform: translateY(-10px);
}

.bird{
	position: absolute;
	transform: translateY(-30px);
	transition: all 0.75s ease-in-out;
	z-index: -1;
}

#eyes, #eyes img{
	position: absolute;
	border-radius: 10;
}

.eye-left{
	top: -110px;
	right: -63px;
}
.eye-right{
	top: -112px;
	right: -83px;
}
