<title>Login</title>
<link rel="icon" href="static/images/blog_icon.ico">
<link rel="stylesheet" href="static/css/login.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<div class="container">
    <div class="screen">
        <div class="prx-hover"></div>
        <div class="bird">
            <img id="anchor" src="static/images/bird.png" alt="bird" width="140" height="140">
            <div id="eyes">
                <img class="eye eye-left" src="static/images/eye.png" alt="eye left" width="9">
                <img class="eye eye-right" src="static/images/eye.png" alt="eye right" width="9">
            </div>
        </div>
        <div class="screen-content">
            <form class="login" action='login' method='POST'>
                <div class="login-field">
                    <i class='login-icon bx bxs-user'></i>
                    <input type="text" class="login-input" placeholder="User name / Email" name='email' id='email'/>
                </div>
                <div class="login-field">
                    <i class='login-icon bx bxs-lock-alt' ></i>
                    <input type="password" class="login-input" placeholder="Password" name='password' id='password'/>
                </div>
                <button class="button login-submit" type='submit' name='submit'>
                    <span class="button-text">LOG IN</span>
                    <i class='button-icon bx bxs-chevron-right'></i>
                </button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/eyetransform.js"></script>
